$loading-border-radius:           24px;

.loading-container .loading {
  padding: 0;
  background: none;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  .loading-failed {
    padding: 13px 17px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 4px;
    background-color: $loading-bg-color;
  }

  .loading-toast {
    background-color: $loading-bg-color;
    padding: 22px 35px;
    border-radius: 18px;

    i {
      width: 30px;
      height: 50px;
    }
  }

  .complete-toast {
    background-color: $loading-bg-color;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 12px;
    width: 60%;
    margin: auto;
  }

  .loading-requesting {
    background-color: $loading-bg-color;
    padding: 30px 35px;
    border-radius: 18px;

    .spinner {
      display: block;
      transform: scale(4);
    }
  }

  .share-container {
    height: 100%;
  }
  .share-modal {
    padding-left: 20%;
    align-self: flex-start;
    img {
      width: 100%;
    };
  }
}
