<ion-modal-view class="customer-search-modal">
  <ion-header-bar>
    <div class="buttons">
      <button class="button back-button"
              ng-click="vm.cancel()">
        <i class="icon ion-back"></i>
      </button>
    </div>
    <h1 class="title">客户搜索</h1>

  </ion-header-bar>

  <div class="search-toolbar">
    <div class="search-input">
      <input
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false"
        placeholder="输入客户名称或手机号码"
        type="search"
        ng-model="vm.searchQuery"
        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
        ng-change="vm.query()"
        autocomplete="off" />
      <i class="icon ion-search"></i>
    </div>
    <button class="button button-clear cancel-search"
            ng-click="vm.reset()">
      取消
    </button>
  </div>

  <ion-content>
    <customer-item-cmp ng-repeat="item in vm.customerList track by item.id"
                       client="item"
                       ng-click="vm.forwardDetail(item.id)">
    </customer-item-cmp>
    <div class="mismatch-hint" ng-if="vm.mismatch">
      没有找到相对应的客户
      <br>
      可以尝试其他客户名称、手机号码
    </div>

  </ion-content>
</ion-modal-view>
