<ion-view view-title="生日关怀"
          hide-back-button="true"
          class="reminder-page">
  <ion-nav-buttons>
    <back-btn state="tab.crm"></back-btn>
  </ion-nav-buttons>

  <ion-content class="has-support">

    <div class="blank-page"
         ng-if="!vm.reminderList.length">
      <p>没有找到客户的生日信息 <br>
        请编辑客户信息添加生日</p>
    </div>

    <div class="list">
      <div class="reminder-container"
           ng-click="vm.forwardDetail(item.id)"
           ng-repeat="item in vm.reminderList">
        <div class="reminder-body">
          <div class="header" ng-bind="item.name"></div>
          <div class="position">
            <span ng-bind="item.job_position"></span>
            <span ng-if="item.job_position && item.company">|</span>
            <span ng-bind="item.company"></span>
          </div>
          <div class="birthday-bar">
            <div>生日: <span class="birthday" ng-bind="item.birthday"></span></div>
            <div class="days-diff">
              <i class="icon unicon-cake"></i>
              距离生日还有
              <span class="highlight" ng-bind="item.daysDiff"></span> 天
            </div>
          </div>
        </div>
        <div class="action-bar">
          <a href="sms:{{ item.phone }}" class="action u-tap send-message">
            <i class="icon unicon-send-message"></i>
          </a>
          <a href="tel:{{ item.phone }}" class="action u-tap call-tel">
            <i class="icon unicon-call-tel"></i>
          </a>
        </div>
      </div>
    </div>

    <support-tel-cmp></support-tel-cmp>
  </ion-content>

</ion-view>
