<ion-view view-title="我的关注"
          class="account-collection-page"
          hide-back-button="true">
  <ion-nav-buttons >
    <back-btn state="tab.account"></back-btn>
  </ion-nav-buttons>

  <ion-content>

    <refresh-view refresher="vm.refresher">

      <div class="blank-page"
           ng-if="!vm.collectionList.length">
        <p>
          您目前没有任何关注的列表
        </p>

        <button class="button button-positive button-block"
                nav-direction="back"
                ui-sref="tab.products">
          点击进入产品页
        </button>
      </div>

      <div>
        <product-item ng-repeat="collection in vm.collectionList"
                      user="vm.user"
                      hide-collection="true"
                      product="collection.product">
        </product-item>
      </div>
    </refresh-view>

  </ion-content>
</ion-view>
