<ion-view view-title="修改密码"
          hide-back-button="true"
          class="user-reset-password-modal">
  <ion-nav-buttons>
    <back-btn state="accountProfile"></back-btn>
  </ion-nav-buttons>

  <form novalidate name="form" class="m-form">
  <ion-content>
      <div class="list margin-top">
        <ion-input class="item item-input item-send-code">
          <ion-label>验证码</ion-label>
          <input type="text"
                 ng-model="vm.user.code"
                 name="uCode"
                 placeholder="验证码"
                 ng-change="vm.clearError(form)"
                 required />
          <button class="button button-request-code button-small button-positive"
                  ng-click="vm.requestCode($event)"
                  type="button"
                  ng-disabled="!vm.counter.data.couldRequest">
            <span ng-if="vm.counter.data.couldRequest">获取验证码</span>
            <span ng-if="!vm.counter.data.couldRequest" class="countTimer">{{ vm.counter.data.timer }}秒</span>
          </button>
        </ion-input>

        <ion-input class="item item-input">
          <ion-label>新的密码</ion-label>
          <input type="password"
                 ng-model="vm.user.password"
                 ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])\w{8,}$/"
                 name="password"
                 placeholder="至少8位，包含数字和字母"
                 ng-change="vm.checkPassword(form)"
                 required>
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>确认密码</ion-label>
          <input type="password"
                 ng-model="vm.user.cPassword"
                 ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])\w{8,}$/"
                 name="cPassword"
                 placeholder="请再次输入新密码"
                 ng-change="vm.checkPassword(form)"
                 required>
        </ion-input>

        <div class="error">
          <span ng-if="form.uCode.$dirty
                       && form.uCode.$invalid
                       && form.uCode.$touched">
            请填写验证码
          </span>
          <span ng-if="form.password.$dirty
                       && form.password.$invalid
                       && form.password.$touched">
              密码格式不对, 至少为8位，需同时包含数字和字母
          </span>
          <span ng-if="form.cPassword.$dirty
                       && form.cPassword.$invalid">
            两次输入密码不一致
          </span>
          <div ng-if="vm.submitError">
            <span>
              {{ vm.submitError }}
            </span>
          </div>
        </div>

      </div>

      <button class="button button-full button-positive margin-top"
              ng-disabled="form.$invalid || !vm.counter.data.requested"
              on-request="vm.resetPassword($event, form.$valid)">
        确认修改
      </button>
  </ion-content>
</form>

</ion-view>
