<ion-view view-title="上传产品"
          hide-back-button="true"
          class="product-quick-new-page">
  <ion-nav-buttons>
    <back-btn state="tab.crm"></back-btn>
  </ion-nav-buttons>

  <form class="m-form"
        name="form"
        novalidate>

    <ion-content>
      <div class="list margin-top">

        <ion-input class="item item-input">
          <ion-label>名称</ion-label>
          <input type="text"
                 ng-model="vm.formUtil.data.product_name"
                 ng-change="vm.formUtil.onInputChange(form)"
                 name="product_name"
                 placeholder="产品全称"
                 required>
        </ion-input>

        <ion-input class="item item-input item-select">
          <ion-label>产品类别</ion-label>
          <select ng-options="cat.key as cat.text for cat in vm.cat_options"
                  ng-model="vm.formUtil.data.portfolio_class">
          </select>
        </ion-input>

        <ion-input class="item item-input">
          <ion-label>预期年化收益率(%)</ion-label>
          <input type="number"
                 ng-model="vm.formUtil.data.return_rate"
                 name="return_rate"
                 placeholder="请输入"
                 required>
        </ion-input>

        <ion-input class="item item-input item-select">
          <ion-label>风险等级</ion-label>
          <select ng-options="risk.key as risk.text for risk in vm.risk_options"
                  ng-model="vm.formUtil.data.risk_level">
          </select>
        </ion-input>

        <div class="error" ng-if="vm.formUtil.submitError" ng-bind="vm.formUtil.submitError">
        </div>
      </div>
    </ion-content>

    <ion-footer-bar>
      <button class="button button-full button-positive"
              ng-disabled="form.$invalid"
              on-request="vm.next()">
        上传产品
      </button>
    </ion-footer-bar>
  </form>
</ion-view>
