// stock colors
$public_funds: #899AF0;
$fixed_income: #65A6FF;
$private_equity: #91C9FD;
$private_property: #9EE9FF;
$private_equity_securities: #BBFEF6;
$financial_management: #C0EFA1;
$education_property: #F6F6F6;
$planning_invest: #fca7a7;
$global_stock: rgba(122, 243, 148, 1);
$emerging_market_equity: rgba(122, 243, 148, 0.8);
$china_stock: rgba(122, 243, 148, 0.5);
$global_bond: rgba(91, 207, 250, 1);
$emerging_market_bond: rgba(91, 207, 250, 0.8);
$p2p: rgba(246, 212, 99, 0.8);
// stock graph
// ---------------------------------
@mixin stockFill {
    border-radius:5px;
    &.PUBLIC_FUNDS {
        fill: $public_funds;
    }
    &.FIXED_INCOME {
        fill: $fixed_income;
    }
    &.PRIVATE_EQUITY {
        fill: $private_equity;
    }
    &.PRIVATE_PROPERTY {
        fill: $private_property;
    }
    &.PRIVATE_EQUITY_SECURITIES {
        fill: $private_equity_securities;
    }
    &.FINANCIAL_MANAGEMENT {
        fill: $financial_management;
    }
    &.EDUCATION_PROPERTY {
        fill: $education_property;
    }
    &.PLANNING_INVEST {
        fill: $planning_invest;
    }
    &.GLOBAL_STOCK {
        fill: $global_stock;
    }
    &.EMERGING_MARKET_EQUITY {
        fill: $emerging_market_equity;
    }
    &.CHINA_STOCK {
        fill: $china_stock;
    }
    &.GLOBAL_BOND {
        fill: $global_bond;
    }
    &.EMERGING_MARKET_BOND {
        fill: $emerging_market_bond;
    }
    &.P2P {
        fill: $p2p;
    }
    &.cash_asset,
    &.alternative_asset,
    &.fixed_income,
    &.stock_asset {
        //fill: url(#linearGradient-1);
        fill: #d6d6d6;
    }
}

@mixin BarChart {
    .bar-chart {
        .plots {
            rect {
                @include stockFill;
            }
            text {
                text-anchor: middle;
                font-size: 10px;
            }
        }
        rect.label-mask {
            fill: #121317;
            opacity: 0.6;
        }
        .axis.x {
            .domain {
                stroke: #9B9B9B;
            }
            text {
                font-size: 10px;
                fill: #947E7D;
            }
        }
    }
}

@mixin codeSymbol {
    .symbol {
        position: relative;
        span {
            font-size: 12px;
            line-height: 1;
        }
        &.PUBLIC_FUNDS:before {
            background: $public_funds;
        }
        &.FIXED_INCOME:before {
            background: $fixed_income;
        }
        &.PRIVATE_EQUITY:before {
            background: $private_equity;
        }
        &.PRIVATE_PROPERTY:before {
            background: $private_property;
        }
        &.PRIVATE_EQUITY_SECURITIES:before {
            background: $private_equity_securities;
        }
        &.FINANCIAL_MANAGEMENT:before {
            background: $financial_management;
        }
        &.EDUCATION_PROPERTY:before {
            background: $education_property;
        }
        &.PLANNING_INVEST:before {
            background: $planning_invest;
        }
        &.GLOBAL_STOCK:before {
            background: $global_stock;
        }
        &.EMERGING_MARKET_EQUITY:before {
            background: $emerging_market_equity;
        }
        &.CHINA_STOCK:before {
            background: $china_stock;
        }
        &.GLOBAL_BOND:before {
            background: $global_bond;
        }
        &.EMERGING_MARKET_BOND:before {
            background: $emerging_market_bond;
        }
        &.P2P:before {
            background: $p2p;
        }
        &:before {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            content: ' ';
            margin-right: 8px;
            display: inline-block;
        }
    }
}

u-bar-chart-v2 {
    width: 100%;
    height: 120px;
    display: block;
    @include BarChart();
}

u-bar-chart-v2-ex {
  width: 100%;
  height: 120px;
  display: block;
  @include BarChart();

  .bar-chart {
    .plots {
      rect.total {
        fill: none;
        stroke: #FDC2C2;
        stroke-width: 1;
        stroke-dasharray: 2 2;
      }
    }
  }
}
