<div class="money-slide">
  <div class="slide-header" ng-class="$ctrl.labelClass" ng-if="$ctrl.label">
    <div class="slide-row">
      <div>
        {{ $ctrl.label }}
        <span ng-if="$ctrl.isRequired" style="color: red">*</span>
      </div>
      <div ng-if="$ctrl.type === 'default'"><span class="amount">{{ $ctrl.value | number }}</span>万</div>
      <div ng-if="$ctrl.type === 'age'"><span class="amount">{{ $ctrl.value | number }}</span>岁</div>
      <div ng-if="$ctrl.type === 'percentage'"><span class="amount">{{ $ctrl.value | number }}</span>%</div>
    </div>
    <div ng-if="$ctrl.assetNote" class="slide-row small">
      <div>{{ $ctrl.assetNote }}</div>
    </div>
  </div>

  <div class="slider-wrapper">
    <div ng-if="$ctrl.showMiddle" class="middle-value">{{ $ctrl.middle }}</div>
    <slider-cmp
      value="$ctrl.scaleToRange()"
      on-update="$ctrl.rangeToScale(range)" adjust-min-range="$ctrl.adjustMinRange" tip="$ctrl.tip"></slider-cmp>
  </div>
</div>
