<div class="risk-level-adjustment-graph">
    <slide-wheel ng-if="vm.riskLevel && vm.year && vm.amount" slide-level="vm.riskLevel">
        <div ng-if="vm.riskalyze">
            <div style="height:60px">
                <div class="profit-label">预期年化收益</div>
                <div class="amount profit"><i class="icon unicon-greater-equal operator-big"></i> {{ vm.getWin().delta | formatNum }}万</div>
                <div class="pct profit"><i class="icon unicon-greater-equal operator-small"></i> {{ vm.getWin().deltaPct }}%</div>
            </div>
            <svg width="220px" height="84px" viewBox="-1 104 381 167" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 104.000000)">
                    <g transform="translate(189.358541, 88.249335) rotate(-20.000000) translate(-189.358541, -88.249335) translate(-13, 83)">
                        <rect fill="#ECECEC" ng-attr-x="{{ vm.getLoss().pXBase - vm.getLoss().pXLen }}" ng-attr-y="-3.41060513e-13" ng-attr-width="{{ vm.getWin().pXBase - vm.getLoss().pXBase + vm.getLoss().pXLen + vm.getWin().pXLen }}"
                            height="19"></rect>
                        <path d="M0.837189264,9.5 L394.837189,9.5" stroke="#C1C1C1" stroke-linecap="square"></path>
                        <circle fill="#2ECC71" ng-attr-cx="{{ vm.getLoss().pXBase - vm.getLoss().pXLen }}" cy="10" r="10"></circle>
                        <defs>
                            <linearGradient x1="-40.6162673%" y1="56.0950532%" x2="126.151871%" y2="61.6754591%" id="riskRatio">
                                <stop stop-color="#000000" offset="0%"></stop>
                                <stop stop-color="#0A69D5" offset="22.9875948%"></stop>
                                <stop stop-color="#00101A" offset="42.4574043%"></stop>
                                <stop stop-color="#074797" offset="70.9024235%"></stop>
                                <stop stop-color="#0A5FBB" offset="78.9620536%"></stop>
                                <stop stop-color="#002349" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <!--<ellipse stroke="none" fill="url(#riskRatio)" fill-rule="evenodd" cx="198" cy="10" rx="58" ry="58"></ellipse>-->
                        <circle fill="#D0011B" ng-attr-cx="{{ vm.getWin().pXBase + vm.getWin().pXLen }}" cy="10" r="10"></circle>
                        <!--<text transform="rotate(20)" stroke="none" fill="none" font-family="HelveticaNeue, Helvetica Neue" font-size="50" font-weight="normal">
                            <tspan ng-attr-x="{{163 + (vm.riskLevel < 10 ? 13 : (vm.riskLevel < 100 ? 0 : -20)) }}" y="-43" fill="#FFFFFF">{{ vm.riskLevel }}</tspan>
                        </text>-->
                        <text font-family="PingFangSC-Medium, PingFang SC" font-size="18" font-weight="400" fill="#2ECC71">
                            <tspan ng-attr-x="{{ vm.getLoss().pXBase - vm.getLoss().pXLen - 27 - (22 - 44 * vm.getLoss().p) }}" y="-10">概率{{ vm.getLoss().p * 100 | formatPercent : false : 0 }}%</tspan>
                        </text>
                        <text font-family="PingFangSC-Medium, PingFang SC" font-size="18" font-weight="400" fill="#D0011B">
                            <tspan ng-attr-x="{{ vm.getWin().pXBase + vm.getWin().pXLen - 34 + (22 - 44 * vm.getWin().p) }}" y="42">概率{{ vm.getWin().p * 100 | formatPercent :false :0 }}%</tspan>
                        </text>
                    </g>
                </g>
            </svg>
            <div>
                <div class="loss-label">风险预估</div>
                <div class="amount loss"><i class="icon unicon-less-equal operator-big"></i> {{ vm.getLoss().delta | formatNum }}万</div>
                <div class="pct loss"><i class="icon unicon-less-equal operator-small"></i> {{ vm.getLoss().deltaPct }}%</div>
            </div>
        </div>
    </slide-wheel>
</div>