<svg width="200px" height="86px" >
  <g transform="translate(43, 43)">
    <circle cx="0" cy="0" r="41" />
    <text class="win value" dy="-0.6em" ><tspan class="number">{{win|formatNum}}</tspan><tspan class="font-size-small"> %</tspan></text>
    <text class="win text" dy="0.6em"><tspan class="font-size-small">模拟业绩表现</tspan></text>
  </g>
  <g transform="translate(157, 43)">
    <circle cx="0" cy="0" r="41" />
    <text class="volatility value" dy="-0.6em"><tspan class="number">{{volatility|formatNum}}</tspan><tspan class="font-size-small"> %</tspan></text>
    <text class="volatility text" dy="0.6em"><tspan class="font-size-small">模拟波动率</tspan></text>
  </g>
</svg>
