<div class="slide-container"
     on-release="$ctrl.onRelease()"
     on-drag="$ctrl.onDrag($event)"
     on-tap="$ctrl.onTap($event)">

  <div class="slide-indicator" ng-style="$ctrl.indicatorStyle"></div>
  <svg width="4px" height="4px" viewBox="0 0 8 8" class="adjust-min" ng-if="$ctrl.adjustMinRange != null" ng-style="$ctrl.adjustMinStyle">
    <g>
      <polygon points="4 0 8 8 0 8"></polygon>
    </g>
  </svg>
  <div class="slide-thumb" ng-style="$ctrl.thumbStyle">
    <div class="dot"></div>
  </div>
  <div class="slide-tip bubble-effect" ng-if="$ctrl.tip && $ctrl.showTip" ng-style="$ctrl.thumbStyle">
    {{ $ctrl.tip }}
  </div>
</div>
