.user-login-modal {
  .register-link {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 26px auto;
    a {
      font-size: 14px;
      line-height: 14.5px;
      padding: 9px 15px;
    }
  }
}

